.col-p {
  color: $admin-primary;
}

.col-p-bg {
  background-color: $admin-primary;
}

.col-s {
  color: $admin-secondary;
}

.col-s-bg {
  background-color: $admin-secondary;
}

.col-w {
  color: $white;
}

.col-w-bg {
  background-color: $white;
}

.col-d {
  color: $admin-dark;
}

.col-d-bg {
  background-color: $admin-dark;
}

.col-bg-body {
  background-color: $body-bg;
}

.col-bg-trans {
  background-color: transparent;
}

.col-r {
  color: $warning;
}

.col-grey {
  color: $mid_grey;
}

.col-mg {
  color: $mid_grey;
}