.icon {
  .colour-fill {
    fill: currentColor;
  }

  .stroke-fill {
    stroke: currentColor;
  }
}

.icon.ih1 {
  height: 3rem;
}

.icon.ih2 {
  height: 2.25rem;
}

.icon.ih3 {
  height: 1.5rem;
}

.icon.ih4 {
  height: 1.25rem;
}

.icon.ih5 {
  height: 1rem;
}

.icon.ih6 {
  height: .875rem;
}