.scrolled .nav-logo-bottom {
  transform: translate3d(0,-34.6px,0);
  z-index: -1;
}

.nav-logo-bottom {
  position: relative;
  transition: .4s;
  transform-origin: left top;
  transform: translate3d(0,0,0);
  transition-timing-function: ease-in-out;
}

.main-navbar {
  height: 60px;

  .nav-logo {
    left: 30px;
    top: 0;
  }

  .nav-list a.active {
    color: $site_primary;
  }

  @include respond-to(small) {
    position: fixed;
    height: 70px;

    #nav-trigger:checked + .nav-list {
      transform: rotateX(0deg);

      a, label {
        opacity: 1;
      }
    }

    .nav-list {
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      display: block;
      transform: rotateX(-90deg);
      transition: .4s;
      transform-origin: top;
      padding-top: 50px;
      //box-shadow: 0 0 3px 3px rgba(0,0,0,.4);

      a, label {
        display: block;
        margin: 15px 0;
        text-align: center;
        padding-left: 0;
        opacity: 0;
        transition: .3s;
      }
    }
  }

  @include respond-to(medium) {
    position: fixed;
    height: 70px;

    #nav-trigger:checked + .nav-list {
      transform: rotateX(0deg);

      a, label {
        opacity: 1;
      }
    }

    .nav-list {
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      display: block;
      transform: rotateX(-90deg);
      transition: .4s;
      transform-origin: top;
      //box-shadow: 0 0 3px 3px rgba(0,0,0,.4);

      a, label {
        display: block;
        margin: 15px 0;
        text-align: center;
        padding-left: 0;
        opacity: 0;
        transition: .3s;
      }
    }
  }
}