$strong: 'industry', sans-serif;
$body_font: 'museo-sans-rounded', sans-serif;
// Body
$body-bg: #f5f8fa;

$admin-primary: #22D17D;
$admin-primary-dark: #10B261;
$admin-primary-light: #22D17D;
$admin-secondary: #4AB5AD;
$admin-dark: #232220;
$warning: indianred;
$white: #ffffff;
$mid_grey: #B0B1B5;
$light_grey: #dddddd;
$sans-serif: 'Raleway', sans-serif;