.col-p {
  color: $site_primary;
}

.col-d {
  color: $site_dark;
}

.col-s {
  color: $site_secondary;
}

.col-w {
  color: $white;
}

.col-mg {
  color: $med_grey;
}

.col-p-bg {
  background-color: $site_primary;
}

.col-d-bg {
  background-color: $site_dark;
}

.col-d-bg-o {
  background: rgba(0,0,0,.7);
}

.col-s-bg {
  background-color: $site_secondary;
}

.col-lg-bg {
  background-color: $light_grey;
}

.col-w-bg {
  background-color: $white;
}

.col-r {
  color: $warning;
}

.col-tr-bg {
  background-color: transparent;
}

.col-bb-p {
  border-color: $site_primary;
}

.col-bb-d {
  border-color: $site_dark;
}

