.hv-col-p {
  &:hover {
    color: $site-primary;
  }
}

.hv-col-pd {
  &:hover {
    color: $site_primary_dark;
  }
}

.hv-col-s {
  &:hover {
    color: $site_secondary;
  }
}

.hv-col-d {
  &:hover {
    color: $site_dark;
  }
}

.hv-col-w {
  &:hover {
    color: $white;
  }
}

.hv-dym {
  &:hover {
    color: $dymantic;
  }
}