.strong-type {
  font-family: $strong;
  font-weight: 900;
}

.body-type {
  font-family: $body_font;
}

.ff-title {
  font-family: $body_font;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}

.ff-large-body {
  font-family: $body_font;
  font-size: 1.5rem;

  @include respond-to(small) {font-size: 1.25rem;}
}


.ff-body {
  font-family: $body_font;
  font-size: 1.125rem;
}

.ff-fine-body {
  font-family: $body_font;
  font-size: .875rem;
}

.ff-headline {
  font-family: $strong;
  font-weight: 900;
  font-size: 3.25rem;
  text-transform: uppercase;

  @include respond-to(small) {font-size: 2.25rem;}
}

.ff-headline-small {
  font-family: $strong;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
}

.ff-sub-headline {
  font-family: $strong;
  font-weight: 900;
  font-size: 1.25rem;
  text-transform: uppercase;
}