$strong: 'industry', sans-serif;
$body_font: 'museo-sans-rounded', sans-serif;

$site_primary: #22d17d;
$site_primary_dark: #10B261;
$site_secondary: #4AB5AD;
$site_dark: #232220;
$white: #FFFFFF;
$light_grey: #f0f0f2;
$med_grey: #B0B1B5;
$dark_grey: #414042;

$warning: indianred;

$dymantic: #81cdbc;