

.article-body {

  figure {
    max-width: 100%;
    margin: 1em 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  figcaption {
    font-family: $body_font;
    font-size: .875rem;
    text-align: center;
  }
}